{% extends 'base.html.twig' %}

{% block title %} Ajouter une salle {% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une salle</h1>
        <a class="btn btn-primary" href="{{ path('room') }}">Retour</a>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.name) }}</div>
            <div class="col-md-6">{{ form_row(form.description) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(form.capacity) }}</div>
            <div class="col-md-6">{{ form_row(form.city) }}</div>
        </div>

        <button class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
        <hr>
        {{ form_start(formCategory) }}
            {{ form_widget(formCategory.name) }}
        <button type="submit">Ajouter catégorie</button>
        {{ form_end(formCategory) }}
    </div>
{% endblock %}



