{% extends 'base.html.twig' %}



{% block title %}{{ room.name }}{% endblock %}


{% block body %}
    <div class="container">
        <h1>Salle {{ room.name }}</h1>
        <p>L'ID de la salle est {{ room.id }}</p>
        <ul>
            <li>Capicité : {{ room.capacity }}</li>
            <li>Ville : {{ room.city }}</li>
            <li>Description: {{ room.description }}</li>
            <li>Créateur: {{ room.user }}</li>
            <li>Est disponible : {{ room.isAvailable }}</li>
        </ul>

        <ul>
            <h4>Liste des catégories</h4>
            {% for category in room.categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>

        <img id="testImg" src="{{ vich_uploader_asset(room,"imageFile") | imagine_filter("thumb") }}" alt="">
    </div>
{% endblock %}